@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  src: url(/assets/fonts/figtree/figtree-extrabold.woff2) format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src: url(/assets/fonts/figtree/figtree-medium.woff2) format('woff2');
  font-display: swap;
}
