/* figtree-extrabold */
@font-face {
  font-family: Figtree;
  font-style: normal;
  font-weight: 800;
  font-stretch: 100%;
  src: local('Figtree ExtraBold'), local('Figtree-ExtraBold'),
    url(../../../fonts/figtree/figtree-extrabold.woff2) format('woff2');
  font-display: swap;
}
/* figtree-medium */
@font-face {
  font-family: Figtree;
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  src: local('Figtree Medium'), local('Figtree-Medium'),
    url(../../../fonts/figtree/figtree-medium.woff2) format('woff2');
  font-display: swap;
}
